{% extends 'base.html' %}

{% block title %}
{{ project.title }} - Project Details
{% endblock %}

{% block head %}
{{ block.super }}
<style>
        /* Styles spécifiques à la page de détail du projet */
        .project-details {
                margin-top: 20px;
                padding: 20px;
                background-color: #fff;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .project-details h1 {
                display: flex;
                justify-content: start;
                align-items: center;
                margin-right: 1rem;
        }

        .buttons {
                margin-left: 1rem;
        }

        .buttons a {
                font-size: small;
                display: inline-block;
                padding: 5px 10px;
                margin-right: 10px;
                text-decoration: none;
                color: #fff;
                border-radius: 4px;
        }

        .btn-edit {
                background-color: #ffc107;
                /* Jaune */
        }

        .btn-delete {
                background-color: #dc3545;
                /* Rouge */
        }
</style>
{% endblock %}

{% block content %}
<div class="project-details">
        <h1>{{ project.title }}
                <div class="buttons">
                        <a href="{% url 'project_update' project.pk %}" class="btn-edit">Edit</a>
                        <a href="{% url 'project_delete' project.pk %}" class="btn-delete">Delete</a>
                </div>
        </h1>
        <p><strong>Description:</strong> {{ project.description }}</p>
        <p><strong>Starting Date:</strong> {{ project.start_date }}</p>
        <p><strong>Expected End Date:</strong> {{ project.expected_end_date }}</p>
        <p><strong>Leader:</strong> <a href="{% url 'researcher_detail' project.project_leader.pk %}">{{
                        project.project_leader.name }}</a></p>
</div>
{% endblock %}